body {
    margin: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    line-height: 27px;
    word-wrap: break-word;

}

.rounded-layout-background {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    margin: 0;
    width: fit-content;
    height: 43px;
    background: red;
    border-radius: 26px;
    bottom: 9px;
}

.header {
    padding: 0;
    margin:0;
    width: 1900px;
    height: 100px;
    border-radius: 26px;
    background: blue;
}
