<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/curs_css.css">
    <title>curs</title>
</head>
<body>
<div id="app">
    <div class="frame">
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><span class="logo-accent">//</span>metrika</div>
                <div class="header-wrapper">
                    <nav>
                        <a href="#" class="nav-link active">оцифровка</a>
                        <a href="#" class="nav-link">экономика</a>
                        <a href="#" class="nav-link">рекламная аналитика</a>
                    </nav>
                    <nav>
                        <button class="background-accent">база знаний</button>
                        <button class="background-accent">помощь</button>
                        <button class="background-accent">standart до 23 дек 2025</button>
                        <div class="logout">
                            <select class="account-img ">
                                <option value="Настройки">Настройки</option>
                                <option value="Профиль">Профиль</option>
                                <option value="Сменить аккаунт">Сменить аккаунт</option>
                                <option value="Выход">Выход</option>
                            </select>
                            <div class="drop-list"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    </div>
</div>
<script src="../static/js/adaptive.js"></script>
</body>
</html>